h2 {
  background-color: hsl(189, 65%, 22%);
  padding: 10px;
  border-radius: 10px;
  margin: 0 15%;
  text-align: center;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: hsl(46, 100%, 97%);
}

h3 {
  font-size: 24px;
  background-color: hsl(46, 100%, 97%);
  padding: 10px;
  border-radius: 10px;
  margin: 0 20%;
  text-align: center;
}

.lift-details {
  font-size: 16px;
  background-color: #8797B2;
  padding: 10px;
  border-radius: 10px;
  margin: 0 20%;
  text-align: center;
}

.description {
  margin-top: 12px;
  text-align: left;
}

img {
  max-width: 100%;
}

@media (min-width: 700px) {
  h2 {
    padding: 20px;
  }

  h3 {
    font-size: 30px;
    padding: 20px;
  }

  .lift-details {
    font-size: 30px;
    padding: 20px;
  }
}
