h2 {
  background-color: hsl(189, 65%, 22%);
  padding: 10px;
  border-radius: 10px;
  margin: 0 15%;
  text-align: center;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: white;
}

h3 {
  font-size: 24px;
  color: hsl(189, 65%, 22%);
  padding: 10px;
  border-radius: 10px;
  margin: 0 20%;
  text-align: center;
}

.macros,
.entries {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 5px;
  margin: 0 20%;
}

table {
  border-collapse: collapse;
  min-width: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: auto;
  border-radius: 10px;
}

thead tr {
  background-color: hsl(189, 65%, 22%);
  color: hsl(0, 0%, 100%);
  text-align: left;
}

th,
td {
  padding: 10px 12px;
}

tbody tr {
  border-bottom: 1px solid hsl(0, 0%, 87%);
  text-align: center;
}

tbody tr:nth-of-type(even) {
  background-color: hsl(0, 0%, 95%);
}

tbody tr:last-of-type {
  border-bottom: 2px solid hsl(189, 65%, 22%);
}


.add-entry {
  display: flex;
  flex-direction: column;
  align-content: center;
  min-width: 200px;
  margin: auto;
}

.add-entry input {
  font-size: 20px;
  color: hsl(189, 65%, 22%);
  transition: all 200ms ease;
  border-left: 0 solid transparent;
  border: 0;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0 0 2rem rgb(20, 82, 93, 20%);
  max-width: 400px;
}

.addButton {
  text-align: center;
  margin: 12px;
  margin-bottom: 24px;
}

.addButton button {
  font-size: 20px;
  color: hsl(189, 65%, 22%);
  border-left: 0 solid transparent;
  border: 0;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0 0 2rem rgb(20, 82, 93, 20%);
}

@media (min-width: 700px) {
  h2 {
    padding: 20px;
  }

  h3 {
    font-size: 30px;
    padding: 20px;
  }

  .macros,
  .entries {
    font-size: 25px;
    padding: 10px;
  }

  table {
    min-width: 400px;
  }

  th,
  td {
    padding: 12px 15px;
  }

  tbody tr {
    font-size: 20px;
    border-bottom: 1px solid hsl(0, 0%, 87%);
    text-align: center;
  }
}
