<div class="macros">
  <h2>Macros</h2>
  <h3>Todays Macros</h3>
  <table class="macro-today-table">
    <thead>
      <tr>
        <th>Macro</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fat</td>
        <td>80 grams</td>
      </tr>
      <tr>
        <td>Protein</td>
        <td>100 grams</td>
      </tr>
      <tr>
        <td>Carbs</td>
        <td>100 grams</td>
      </tr>
      <tr>
        <td>Calories</td>
        <td>2000 cals</td>
      </tr>
    </tbody>
  </table>

</div>
