h2 {
  background-color: hsl(189, 65%, 22%);
  padding: 10px;
  margin: 0 15%;
  border-radius: 10px;
  text-align: center;
}

form {
  text-align: center;
  max-width: 100%;
  margin: 0 15%;
}

input {
  font-size: 20px;
  color: hsl(189, 65%, 22%);
  transition: all 200ms ease;
  margin-top: 2px;
  border-left: 0 solid transparent;
  border: 0;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0 0 2rem rgb(20, 82, 93, 20%);
}

ul {
  display: grid;
  grid-template-columns: 1fr;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: hsl(189, 65%, 22%);
}

.exercise-listing {
  font-size: 24px;
  padding: 6px;
  color: hsl(189, 65%, 22%);
  margin: 3% 0;
  text-align: center;
}

@media (min-width: 700px) {
  h2 {
    padding: 20px;
  }

  input {
    font-size: 24px;
  }

  ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .exercise-listing {
    font-size: 36px;
    padding: 20px;
  }
}
