h2 {
  background-color: hsl(189, 65%, 22%);
  padding: 10px;
  border-radius: 10px;
  margin: 0 15%;
  text-align: center;
}

form {
  text-align: center;
}

input {
  font-size: 24px;
  background: hsl(46, 100%, 97%);
  color: hsl(0, 0, 2%);
  transition: all 200ms ease;
  border-left: 0 solid transparent;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 2rem rgb(0, 0, 0, 20%);
}

ul {
  display: grid;
  grid-template-columns: 1fr;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: hsl(189, 65%, 22%);
}

.exercise-listing {
  font-size: 24px;
  padding: 6px;
  color: hsl(189, 65%, 22%);
  background-color: hsl(46, 100%, 97%);
  border: solid hsl(0, 0%, 2%);
  margin: 0px;
  text-align: center;
  border-radius: 10px;
}


.exercise-listing:hover {
  background-color: hsl(200, 100%, 68%);
}

@media (min-width: 700px) {
  h2 {
    padding: 20px;
  }

  ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .exercise-listing {
    font-size: 36px;
    padding: 6px;
  }
}
