h3 {
  font-size: 20px;
  color: hsl(189, 65%, 22%);
  padding: 10px;
  border-radius: 10px;
  margin: 0 15%;
  text-align: center;
}

@media (min-width: 700px) {
  h3 {
    padding: 20px;
  }
}

img {
  width: 60%;
}

.spinner {
  text-align: center;

}
