<div class="lift-log">
  <div *ngIf="!activeUpdate" class="adder">
    <label>Date</label>
    <input [(ngModel)]="newSet.date" type="date" required />

    <label>Reps</label>
    <input [(ngModel)]="newSet.reps" type="number" required />

    <label>Weight</label>
    <input [(ngModel)]="newSet.weight" type="number" required />
    <div class="addButton">
      <button (click)="addSet()">Add</button>
    </div>
  </div>
  <div *ngIf="activeUpdate" class="updater">
    <label>Date</label>
    <input [(ngModel)]="updatedSet.date" type="date" />

    <label>Reps</label>
    <input [(ngModel)]="updatedSet.reps" type="number" />

    <label>Weight</label>
    <input [(ngModel)]="updatedSet.weight" type="number" />
    <div class="saveButton">
      <button (click)="updateSet()">Save</button>
      <button (click)="cancelUpdate()">Cancel</button>
    </div>
  </div>
</div>
<table class="log-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Reps</th>
      <th>Weight (lbs)</th>
      <th *ngIf="!activeUpdate">Update/Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let set of sets">
      <td>{{set.date}}</td>
      <td>{{set.reps}}</td>
      <td>{{set.weight}}</td>
      <td *ngIf="!activeUpdate">
        <button class="update-btn" (click)="update(set)">Update</button>
        <button class="delete-btn" (click)="deleteSet(set.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
