<div class="lift-log">
  <div class="adder">
    <label>Date</label>
    <input [(ngModel)]="newSet.date" type="date" required="" />

    <label>Reps</label>
    <input [(ngModel)]="newSet.reps" type="number" />

    <label>Weight</label>
    <input [(ngModel)]="newSet.weight" type="number" />
  </div>
  <div class="addButton">
    <button (click)="addSet()">Add</button>
  </div>
  <table class="log-table" matSort (matSortChange)="sortData($event)">
    <thead>
      <tr>
        <th mat-sort-header="date">Date</th>
        <th mat-sort-header="reps">Reps</th>
        <th mat-sort-header="weight">Weight (lbs)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let set of sets">
        <td>{{set.date}}</td>
        <td>{{set.reps}}</td>
        <td>{{set.weight}}</td>
        <button class="delete-btn" (click)="deleteSet(set.id)">Delete</button>
      </tr>
    </tbody>
  </table>
</div>
