<div class="lift-log">
  <div class="adder">
    <label>Date</label>
    <input [(ngModel)]="newSet.date" type="date" required="" />

    <label>Reps</label>
    <input [(ngModel)]="newSet.reps" type="number" />

    <label>Weight</label>
    <input [(ngModel)]="newSet.weight" type="number" />
  </div>
  <div class="addButton">
    <button (click)="addSet()">Add</button>
  </div>
  <table class="log-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Reps</th>
        <th>Weight (lbs)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let set of sets">
        <td>{{set.date}}</td>
        <td>{{set.reps}}</td>
        <td>{{set.weight}}</td>
      </tr>
    </tbody>
  </table>
</div>
